footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #3F3D56;
  height: 125px; }

.skill-rights-text {
  font-size: 16px;
  opacity: 0.4;
  color: #FFFFFF;
  margin: 0 0 0 40px; }

.icons-container {
  margin: 0 43px 0 0; }
  .icons-container .icon {
    margin: 0 0 0 14px; }

@media (max-width: 670Px) {
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start; }
  .skill-rights-text {
    line-height: 18.75px;
    margin: 0 0 0 20px; }
  .icons-container {
    margin: 0 0 0 20px; }
    .icons-container .icon {
      margin: 0 14px 0 0; } }
